.nav{
    position: fixed !important;
    z-index: 2 !important;
    background-color:  rgb(45, 46, 47);
    color: white;
    transition: display 1s;

}

.nav-vertical {
    position: fixed;
    top: 0;
    width: 310px;
    height: 100vh;  
    left: -250px;
    background-color:  rgb(45, 46, 47);
    transition: all 0.5s ease;
    /* display: none; */
    z-index: 3;
}





/***************************************************/
.nav-vertical .nav-left{
    height: 100%;
    width: 250px;
    margin-right: 60px;
}

.nav-vertical .nav-left> .top > p{
    font-size: 18px;
    margin: 20px;
    padding: 10px 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s
}

.nav-vertical .nav-left> .top > p:hover{
    color: #007aff;
}

.nav-vertical .nav-left> .bottom{
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    margin: 10px;
    right: 60px;
    left: 10px;
}

.nav-vertical #phone, #mail{
    cursor: pointer;
}

.nav-vertical #phone:hover, #mail:hover{
    opacity: 0.6;
}

.nav-vertical .nav-right{
    position: absolute;
    top: 0;
    right:0px;
    width: 60px;
    height: 100%;
    background-color: #242424;
}

.nav-vertical .nav-right  .top{
    position: absolute;
    margin-top: 23px;
    width: 100%;
    text-align: center;
    
}

.nav-vertical .nav-right  .top img{
    width: 50%; cursor: 
    pointer;
}


.list-load-animation > p {
    animation: showup1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.list-load-animation > p:first-child{
    animation-delay: 0.2s;
}

.list-load-animation > p:first-child + p{
    animation-delay: 0.4s;
}

.list-load-animation > p:first-child + p + p{
    animation-delay: 0.8s;
}

.list-load-animation > p:first-child + p + p + p{
    animation-delay: 1s;
}

.list-load-animation > p:first-child + p + p + p + p{
    animation-delay: 1.2s;
}


.nav-vertical .nav-right > .center{
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.nav-vertical .nav-right > .center > p{
    
    transform: rotate(-90deg);
    color: white;
    font-size: 18px;
}

.nav-vertical .nav-right  .bottom{
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 26%;
}

.nav-vertical .nav-right  .bottom li{
    padding: 5px;
}

.nav-vertical .nav-right  .bottom li a{
    color: white;
    font-size: 18px;
}


.social-icon .material-icons i {
    font-size: 30px;
}
.list-icon li a {
    color: #d5d5d5;
}

/******************************************/

.nav-horizontal{
    padding: 0 5%;
    top: 0;
    left: -100%;
    height: 80px;
    width: 100vw;
    position: fixed;
    background-color:  rgb(45, 46, 47);
    transition: all 0.5s;

}

.nav-horizontal a {
    cursor: pointer;
}

.nav-horizontal .logo-header{
    /* width: 60px;
    height: 60px; */
    
    float: left;
}

.nav-horizontal .logo-header img {
    width: 50%; 
    cursor: pointer; 
    margin: 20%
}

.nav-horizontal > .menu-header{
    font-size: 30px;
    float: right;
    padding-top: 20px;

}


.nav-horizontal > .menu-header > div{
    display: inline-block;
    margin: 0 10px;
}

.nav-horizontal  .expand-menu .icon-expand{
    z-index: 3;
    position: relative;
    cursor: pointer;
    margin-top: 7px;
}

.nav-horizontal  .expand-menu .icon-expand > i{
    margin: 0;
    padding: 0;
    line-height: 7px;
    font-size:40px;
    display: flex;
    transition: all 0.2s;
}

.icon-expand.xstyle  .element-top {
    transform: rotate(45deg);
    transform-origin: 25% 50%;

}

.icon-expand.xstyle .element-center {
    opacity: 0;
}

.icon-expand.xstyle  .element-bottom {
    transform: rotate(-45deg);
    transform-origin: 27% 50%;
}

.nav-horizontal div > a{
    margin: 0;
    color: white;
}

.nav-horizontal  .list-text {
    background-color: rgba(36, 36, 36, 0.98);
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: auto;
    right: 0px;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    text-align: center;
    max-height: none;
    z-index: 1;
    right: -100%;
    transition: all 0.5s ease-in;
    margin-right: auto;
    margin-left: auto;

}

.nav-horizontal  .list-text> p {
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 14px 0;
   
}

.nav-horizontal  .list-text> p:hover{
    color: blue;
}

.nav-horizontal ul{
    position: absolute;
    background-color:  #242424;
    z-index: 3;
    padding: 7px;
    left: -5px;
    top: 100%;
}

.nav-horizontal .list-icon{
    display: none;
    transition: all 1s;
}



.nav-horizontal .social-icon:hover > .list-icon{
    display: inherit;
}

.nav-horizontal  .social-icon {
    position: relative;
    vertical-align: top;
}

.nav-horizontal ul>li{
    list-style-type: none;
    font-size: 18px;
    padding: 5px;
}

.list-icon > li > a {
    color: #d5d5d5;
}

.list-icon > li:hover > a {
    color: #838080;
}
